.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}
  
.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}
  
.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}
  
.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}


html {
  font-family: "Caudex", serif;
}

body {
  margin: 0;
}



/* Title */

.title {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

/*  */

/* NavBar */

nav {
  border-top: 0.2px lightgray solid;
  border-bottom: 0.2px lightgray solid;
  margin-top: 40px;
  width: 70%;
  margin: 40px auto 20px auto;
}

li a{
  display: inline-block;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  color: black;
}

li a:hover {
  color: gray;
  cursor: pointer;
}

ul {
  display: flex;
  margin: 0 20px 0 20px;
  padding: 0;
  list-style: none;
  gap: 30px;
  
}

/*  */


/* Roundabout */

.roundabout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-img {
  background-image: url(/images/84770f_147554dd9cce436ba0a1594b477aad77~mv2.webp);
  background-size: cover;
  width: 60%;
  height: 400px;
  background-position: center;
}

.inscription {
  background-color: rgba(255, 255, 255, 0.627);
  height: 200px;
  width: 400px;
  margin: 30px 0 0 30px;
}

#shop-now {
  padding: 10px 20px 10px 20px;
  border: 0.1px solid;
  background-color: transparent;
  margin: 20px 0 0 20px;
  font-weight: 600;
}

#shop-now:hover {
  border: 0.1px solid gray;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}
/*  */

/* Watch container */

.watch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px;
  margin: 30px auto 30px auto;
}

.watch-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.watch-information {
  margin-top: 20px;
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: none;
  padding: 10px 30px;
  background-color: transparent;
  font-weight: 600;
}

.watch-card:hover {
  .details {
    display: flex;
    border: 1px solid gold;
    color: gold;
  }
  .add-cart {
    display: flex;
    border: 1px solid gold;
    color: white;
    background-color: gold;
  }
  .watch-information {
    display: none;
  }
  cursor: pointer;
}
/*  */


/* Footer */

footer {
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.media {
  margin-left: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram {
  background-image: url(./images/5335781_camera_instagram_social\ media_instagram\ logo_icon.png);
  background-size: cover;
  height: 40px;
  width: 40px;
}
.instagram:hover {
  background-image: url(./images/5296765_camera_instagram_instagram\ logo_icon.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.facebook {
  background-image: url(./images/5305153_fb_facebook_facebook\ logo_icon.png);
  background-size: cover;
  height: 40px;
  width: 40px;
}
.facebook:hover {
  background-image: url(./images/5296500_fb_social\ media_facebook_facebook\ logo_social\ network_icon.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  cursor: pointer;
  
}

/*  */

/* shop.html */

.watch-information-shop {
  margin-top: 20px;
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.watch-container-shop {
  display: grid;
  justify-content: center;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  width: 800px;
  height: 1000px;
  margin: 30px auto 30px auto;
}

/*  */

/* about.html */

.about {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  margin: 50px auto 100px auto;
}

/*  */

/* FAQ */

.faq-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.question-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  margin: 50px auto 200px auto;
}

.question {
  margin: 0;
}
.ansver {
  font-weight: 200;
  font-size: small;
}

/*  */